body {
    font-family: 'Circular Spotify Tx T', sans-serif;
    background-color: #181818;
}

h1 {
    color: #1DB954;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container {
    max-width: 600px;
}
