<!DOCTYPE html>
<html>
<head>
    <title>Select Mood</title>
</head>
<body>
    <h1>Select Mood</h1>
    <form action="" method="post">
        <select name="mood">
            <option value="happy">Happy</option>
            <option value="sad">Sad</option>
            <option value="energetic">Energetic</option>
            <option value="mellow">Hopeful</option>
            <option value="angry">Angry</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
